* {
    margin: 0px 10px 0px 10px;
}



.header,
.header-body {
    padding: 50px;

}

.header
 {
    display: flex;
    justify-content: flex-end;
    background-color: #1f2937;
    padding: 5px;
}

.container {

}

body {
    background-color: black;
    margin: 0px 50px 0px 50px;
}

.header-links {
flex: 1;
justify-self: flex-end;

}

.header-logo {
flex: 1;
color: #f9faf8;
font: #f9faf8;
font-size: 24px;
font-weight: bold;
margin-left: 40px;
}

.header-body {
    display: flex;
    
    background-color: #1f2937;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.link-1,
.link-2,
.link-3 {
    margin: 5px;
    font-size: 14px;
    color: #e5e7eb;
}

.left-content {
    display: flex;
    width: 400px;

}

.left-large-text {

    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.sm-left-header-text {
   font-size: 16px;
   color: #e5e7eb; 
}

.right-image {
    margin-left: 20px;
    font-size: 10px;
    color: #e5e7eb;
    padding: 100px;
    text-align: center;
    background-color: grey;
    border-radius: 5px;
}

.button {
    margin-top: 20px;
    background-color: #3882f6;
    width: fit-content;
    padding:2px 20px 2px 20px;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
}

.button:hover {
    background-color: #005df3;
    color: black;
    width: fit-content;
    padding:2px 20px 2px 20px;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
}

.body-1 {

    background-color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.body-1-header {
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.blocks {
    display: flex;
    justify-content: center;
}

.block {
    border: solid #3882f6 2px;
    padding: 50px;
    border-radius: 7px;
}

.block-texts {
    display: flex;
    justify-content: center;

}

.block-text {
    margin: 2px;
    width: 120px ;
    font-size: 12px;
    text-align: center;

}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 200px;
    padding: 20px;
}

.quote {
    width: 345px;
}

.thor {
    font-weight: bolder;
    text-align: right;
}

.action {
    justify-content: center;
    background-color: white;
    padding: 100px;
}

.background {
    display: flex;
    border-radius: 6px;
    background-color:  #3882f6;
    padding: 45px;
    font-size: 10px;
}

.call-to-action {
    flex: 4;
    font-weight: bolder;
    color: white;
    text-align: left;

}

.sign-up {
    flex: 1;
    margin: 20px 20px 20px 40px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    text-align: center;
    padding: 2px;
    border-radius: 3px;

}

.sign-up:hover {
    flex: 1;
    margin: 20px 20px 20px 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #1f2937;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    padding: 2px;
    border-radius: 3px;

}

.footer {
    background-color: #1f2937;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 10px;
}